<h1>Fibonacci multiplication table</h1>

<div>
  <label>Size: </label>
  <input type="text" id="sizeInput" placeholder="The 'n' parameter">
  <button type="submit" id="generateButton">Generate</button>
</div>

<% if @table %>
  <!--- Render table here -->

  <% if @saved %>
    <p>Saved!</p>
  <% else %>
    <button id="saveButton">Save</button>
  <% end %>
<% end %>

<script>
  let generateButton = document.getElementById('generateButton');
  let sizeInput = document.getElementById('sizeInput');
  generateButton.addEventListener('click', function (e) {
    e.preventDefault();
    fetch('/generate-table', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        n: sizeInput.value
      })
    })
    .then((response) => response.json())
    .then((data) => {
      console.log('data', data)
    })
  })
</script>